


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100px;
    background: #F0F3F2;
}


h1, h2, h3 {
	font-weight: 1200;
    font-size: 4em;
    margin-bottom: 4%;
}
h4, h5 {
	font-weight:500;
    font-size: 1.6em;
    text-align: justify;
}
h6 {
	font-weight:650;
    font-size: 1.6em;
}
.white {
	color:#F0F3F2 !important;
    
}
.black {
	color:#000000;
}



/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #154880;
  }
  

  
header .logo {
    color: rgb(80, 48, 0);
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
  }
  
header.sticky .logo {
    color: rgb(3, 2, 2);
  }
  
header .navigation {
    position: relative;
    display: flex;
  }
  
header .navigation li {
    list-style: none;
    font-size: large;
    margin-left: 70px;
  }
  
header .navigation li a {
    text-decoration: none;
    color: #bfc3d3;    ;
    font-weight: 300;
    background-color: #898AF9;
    border-radius: 4px;
    padding: 10px 20px;
  }
  
header .navigation li a:hover {
    color: #111;
  }
  
header.sticky .navigation li a {
    color: #F0F3F2;
  }
  
header.sticky .navigation li a:hover {
    color: #111;
  }

.chat{
    position: fixed;
    margin-top: 1700px;
    margin-left: 80%;
    margin-right: 50%;
    display: flex;
}


.chat{
    position: fixed;
    margin-top: 1700px;
    margin-left: 80%;
    margin-right: 50%;
    display: flex;
}

/* Slideshow ZI */

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buku{
    margin-top: 100px;
}

/* Card Container */
.card {
    display:flex;
    background: linear-gradient(90deg, #4b9ed1, #9a9ff9);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 60%;
    overflow: hidden;
    margin: auto;
    margin-top: 2%;
}

/* Book Section */
.book-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: linear-gradient(to bottom, #3b86b6, #5e5f97);
    position: relative;
    padding: 1%;
}

.book-cover img{
    width: 100%;
    border-radius: 12px;
}

.book-top {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.icon {
    font-size: 18px;
}

.book-body {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px 10px;
}

.book-title {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

/* Card Content */
.card-content {
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.pdf {
    background-color: #fff;
    color: #4b9ed1;
}

.quiz {
    background-color: #f0f4ff;
    color: #4b9ed1;
    border: 2px solid #4b9ed1;
}

.btn:hover {
    opacity: 0.9;
}

@media screen and (max-width: 1000px) {
    /*page utama*/

    h1, h2, h3 {
        font-weight: 1000;
        font-size: 2.5em;
        margin-bottom: 4%;
    }
    h4, h5 {
        font-weight:450;
        font-size: 1.6em;
    }
    h6 {
        font-weight:050;
        font-size: 1.4em;
    }
    
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }

    /*header*/
    header,
    header.sticky {
        padding: 5px 10px;
        height:"70px";
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 40%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #154880;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    #faq {
        background-color: #F0F3F2;
        position: relative;
        padding: 10%;
    }

    /*kartu*/
    .kartu{
        position: relative;
        display: flex;
        width: 70%;
        margin: auto;
    }

    .title{
        position: relative;
        display: block;
        width: 50%;
        text-align: center;
        margin: 0% 0% 0% 25%;
    }
    
    .title .ttl{
        position:relative;
        display: block;
        width: 100%;
        margin: 0% 0% 0% 0%;
    }
    

    /*footer*/
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

    .footer .footer-left img {
        width: 70%;
        vertical-align: middle;
    }

    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}


@media screen and (max-width: 720px) {
    /*header*/
    header,
    header.sticky {
        padding: 5px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #1D96A1;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    /* Card Container */
.card {
    display:flex;
    background: linear-gradient(90deg, #4b9ed1, #9a9ff9);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 7%;
    flex-direction: column;
}

/* Book Section */
.book-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: linear-gradient(to bottom, #3b86b6, #5e5f97);
    position: relative;
    padding: 4%;
}

.book-cover img{
    width: 100%;
    border-radius: 12px;
}

.book-top {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.icon {
    font-size: 18px;
}

.book-body {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px 10px;
}

.book-title {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

/* Card Content */
.card-content {
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

}