


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka';
    scroll-behavior: smooth;
}

body {
    min-height: 100px;
    background: #F0F3F2;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: linear-gradient( #3D86DB, #898AF9);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .content {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    padding-right: 15%;
    padding-bottom: 6%;
}

.banner .content .img {
    width: 360px;
    height: 270px;
    background-image: url(IMAGES/1/1x/Asset\ 6.png);
    background-size: cover;
    box-sizing: border-box;
}

.banner-text {
	margin-top: 18%;
    margin-left: 10%;
}

.banner-text img {
 width: 50%;
 height: max-content;
 margin-top: -10px;
}

.banner-text p {
	margin: 4% 0%;
    font-size: 1.1em;
}
.banner-text ul {
	list-style: none;
}
.banner-text ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.banner-text ul li a {
	display: block;
}
.banner-text ul li a img {
	width: 100%;
	border-radius: 7px;
}

h1, h2, h3 {
	font-weight: 1200;
    font-size: 3.3em;
    margin-bottom: 4%;
}
h4, h5 {
	font-weight:800;
    font-size: 1.8em;
}
h6 {
	font-weight:650;
    font-size: 1.6em;
}

.white {
	color:#F0F3F2 !important;
    
}
.black {
	color:#000000;
}

.blue{
    color: #3D86DB;
}

.aksr{
    color: #2b2b2b;
    width:60%;
    display:block;
    justify-content: center;
    margin: auto;
}


.shop-now {
    display: inline-block;
    margin-top: 0;
    padding: 10px 20px;
    background-color: #5f3c42;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.counter{
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
}

/*header*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  
header.sticky {
    background: #154880;
    padding: 2% 3%;
    box-shadow: 0 5px 10px rgba(97, 62, 62, 0.05);
  }
  
header .logo {
    color: rgb(80, 48, 0);
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
  }
  
header.sticky .logo {
    color: rgb(3, 2, 2);
  }
  
header .navigation {
    position: relative;
    display: flex;
  }
  
header .navigation li {
    list-style: none;
    font-size: large;
    margin-left: 70px;
  }
  
header .navigation li a {
    text-decoration: none;
    color: #bfc3d3;    ;
    font-weight: 300;
    background: linear-gradient(to bottom right, #3D86DB, #898AF9);
    border-radius: 4px;
    padding: 10px 20px;
  }
  
header .navigation li a:hover {
    color: #111;
  }
  
header.sticky .navigation li a {
    color: #F0F3F2;
  }
  
header.sticky .navigation li a:hover {
    color: #111;
  }

.chat{
    position: fixed;
    margin-top: 1700px;
    margin-left: 80%;
    margin-right: 50%;
    display: flex;
}


#jenis{
    background: #F0F3F2;
}

 
/*kartu*/
.kartu{
    position: relative;
    display: flex;
    width: 40%;
    margin: 0% 10%;
    margin-top: 0%;
}

.title{
    display: flex;
    width: 80%;
    padding-top: 3%;
    margin: auto;
    margin-bottom: -1%;
}

.title .ttl{
    margin: auto;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    width: 100%;
}

.ttl{
    display: flex;
    width: 50%;
    margin-left: 8.5%;
}

.title .ttle{
    margin: auto;
    margin-right: 3%;
    margin-left: 3%;
    width: 100%;
}

.kiri{
    padding-right: 5%;
}

.kiri1{
    margin: auto;
    width: 50%;
}

.kanan{
    padding-left: 5%;
}


.narasi{
    position: relative;
    display:block;
    width: 100%;
    text-align: center;
    padding-top: 0%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}

#inovasi{
    background: #374275;
}

#survey{
    background: #F0F3F2;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 2%;
    padding-top: 5%;
}


/*tombol*/
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.tombol {
    text-decoration: none;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
}

.tombol img {
    width: 70px;
    height: 70px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.tombol p {
    font-size: 16px;
}

.tombols {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
    background-color: #4d78306b;
}

.tombols:hover {
    background-color: #ddd;
}

.tombols img {
    width: 70px;
    height: 70px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.tombols p {
    font-size: 16px;
}

.tombolss {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid #4d7830;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
    background-color: #dddddd6b;
}

.tombolss:hover {
    background-color: #ddd;
}

.tombolss img {
    width: 80px;
    height: 80px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.tombolss p {
    font-size: 16px;
}

.tombolsss {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid #4d7830;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
    background-color: #dddddd6b;
}

.tombolsss:hover {
    background-color: #ddd;
}

.tombolsss img {
    width: 100px;
    height: 80px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.tombolsss p {
    font-size: 16px;
}

#pengaduan{
    background-color: #abcc92;
}

/*faq*/
#faq {
    background-color: #F0F3F2;
    position: relative;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.copyrightText {
    padding: 8px 40px;
    text-align: center;
    background: rgb(155, 66, 33);
}

.copyrightText p {
    color: #fff;
}

.copyrightText p span {
    color: rgb(59, 29, 12);
    font-weight: 500;
}

#faq h1 {
    color: #154880;
    text-align: center;
    margin-bottom: 6%;

}

details {
    background-color: #e7c859;
    color: #060303;
    font-size: 1.3rem;
    place-content: center;
    align-items: center;
    margin-bottom: 4%;
    box-shadow: 0 5px 10px rgb(70, 43, 18);
}

.jawab {
    background-color: #e7c859;
    color: #060303;
    font-size: 1rem;
    place-content: center;
    align-items: center;
}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #673c04;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}

/*footer*/
footer {
    bottom: 0;
}

.footer {
    background: linear-gradient(to bottom right, #3D86DB, #898AF9);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 100%;
    vertical-align: middle;
}

.footer .footer-left .credit-cards {
    width: 100%;
}

.footer .footer-copyright {
    color: #f0f3f2b0;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    color: #F0F3F2;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #F0F3F2;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #F0F3F2;
    text-decoration: none;
    font-size: 14px;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-jenis {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-jenis span {
    display: block;
    color: #F0F3F2;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #E7C959;
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: #8f9296;
}


@media screen and (max-width: 1750px) {
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }
}


@media screen and (max-width: 1000px) {
    /*page utama*/
    .banner {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        background: linear-gradient(to bottom right, #3D86DB, #898AF9);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 5%;
    }

    .counter{
        display: flex;
        justify-content: flex-start;
    }
    
    .banner .content {
        width: 100%;
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
        padding-bottom: 2%;
    }
    
    .banner-text {
        text-align: center;
        justify-content: center;
        margin: auto;
    }

    .aksr{
        color: #2b2b2b;
        width:80%;
        display:block;
        justify-content: center;
        margin: auto;
    }

    

    .banner-text p {
        margin: 4% 0%;
        font-size: 1.1em;
    }
    .banner-text ul {
        list-style: none;
    }
    .banner-text ul li {
        display: inline-block;
        margin: 0px 10px 10px 0px;
    }
    .banner-text ul li a {
        display: block;
    }
    .banner-text ul li a img {
        width: 150px;
        border-radius: 7px;
        margin-top: 20%;
    }

    h1, h2, h3 {
        font-weight: 1000;
        font-size: 2.6em;
        margin-bottom: 4%;
    }
    h4, h5 {
        font-weight:450;
        font-size: 1.6em;
    }
    h6 {
        font-weight:050;
        font-size: 1.4em;
    }
    
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }

    /*header*/
    header,
    header.sticky {
        padding: 5px 10px;
        height:"70px";
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 40%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #154880;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    #faq {
        background-color: #F0F3F2;
        position: relative;
        padding: 10%;
    }

    /*kartu*/
    .kartu{
        position: relative;
        display: flex;
        width: 70%;
        margin: auto;
    }

    .title{
        position: relative;
        display: block;
        width: 50%;
        text-align: center;
        margin: 0% 0% 0% 25%;
    }
    
    .title .ttl{
        position:relative;
        display: block;
        width: 100%;
        margin: 0% 0% 0% 0%;
        padding-top: 5%;
    }

    .ttl{
        position:relative;
        display: block;
        width: 90%;
        margin: auto;
    }
    
    

    /*footer*/
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

    .footer .footer-left img {
        width: 70%;
        vertical-align: middle;
    }

    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}


@media screen and (max-width: 720px) {
    .container {
        max-width: 300px;
        display: block;
    }

    h1 {
        margin-bottom: 3%;
        padding-top: 5%;
        font-size: 30px;
    }
   
    /*page utama*/
    .banner{
        display:block;
    }
    
    .banner .content {
        text-align: center;
        justify-content: center;
        padding-right: 0;
        display:flex;

    }

    .banner .content .img {
        max-width: 200px;
        max-height: 150px;
        background-image: url(IMAGES/1/1x/Asset\ 6.png);
        background-size: cover;
        box-sizing: border-box;
        display: flex;
    }


    .banner-text{
        text-align: center;
        justify-content: center;
        margin: auto;
        align-items: center;
        align-content:center;
        padding-top: 50%;
    }

    .shop-now {
        display: inline-block;
        margin-top: 0;
        padding: 10px 20px;
        background-color: #5f3c42;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .banner-text img {
        justify-content:center;
        }

    .banner-text p {
        margin: 0% 0%;
    }

    .banner-text ul {
        list-style: none;
    }

    .banner-text ul li {
        display: inline-block;
        margin: 0px 10px 10px 0px;
    }

    .banner-text ul li a {
        display: block;
    }
   
    
    /*header*/
    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #1D96A1;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }


    .slideshow-container {
        padding-top: 120px;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
      }


    /*kartu*/
    .title{
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        margin: auto;
    }
    
    .title .ttl{
        position:relative;
        display: block;
        width: 80%;
        margin: auto;
    }

    .title .ttle{
        position:relative;
        display: block;
        width: 80%;
        margin: auto;
    }

    .kartu{
        position: relative;
        display: block;
        width: 90%;
        margin: 0% 6%;
    }

    .kiri{
        width: 75%;
        margin: auto;
        padding: 0;;
    }
    
    .kiri1{
        width: 75%;
        margin: auto;
        padding: 0;
    }
    
    .kanan{
        width: 75%;
        margin: auto;
        padding: 0;
    }

  
    /*tombol*/
    .tombol {
        text-decoration: none;
        color: #000;
        margin: 10px;
        margin-top: 12px;
        width: 250px;
        text-align: center;
        transition: 0.3s;
    }
    

    
    .tombol img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    
    .tombol p {
        font-size: 16px;
    }

    .tombols {
        text-decoration: none;
        color: #000;
        margin: 10px;
        margin-top: 12px;
        padding: 20px;
        border: 2px solid #111;
        border-radius: 30px;
        width: 250px;
        text-align: center;
        transition: 0.3s;
    }
    
    .tombols:hover {
        background-color: #ddd;
    }
    
    .tombols img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    
    .tombols p {
        font-size: 16px;
    }
    
    .tombolss {
        text-decoration: none;
        color: #000;
        margin: 10px;
        margin-top: 12px;
        padding: 20px;
        border: 2px solid #111;
        border-radius: 30px;
        width: 250px;
        text-align: center;
        transition: 0.3s;
    }
    
    .tombolss:hover {
        background-color: #ddd;
    }
    
    .tombolss img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    
    .tombolss p {
        font-size: 16px;
    }

    .tombolsss {
        text-decoration: none;
        color: #000;
        margin: 10px;
        margin-top: 12px;
        padding: 20px;
        border: 2px solid #111;
        border-radius: 30px;
        width: 250px;
        text-align: center;
        transition: 0.3s;
    }
    
    .tombolsss:hover {
        background-color: #ddd;
    }
    
    .tombolsss img {
        width: 100px;
        height: 80px;
        margin-bottom: 10px;
    }
    
    .tombolsss p {
        font-size: 16px;
    }


    .footer .footer-left img {
        width: 100%;
        vertical-align: middle;
    }
}

